*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: #FF6347 solid;  
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-right: 2px;
    list-style: none;
    /* padding: 1em; */
}
nav li img{
    width: 50px;
    height: 100%;
}

nav li button img{
    width: 25px;
}
nav li button{
    background-color: white;
    border: none;
}
nav li+li a{
    padding-left: 10px;
    color: #8B4513;
    text-decoration: none;
}
.tri{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.tri input{
    border: #FF6347 solid; 
    border-radius: 50px ;
    padding: 0.5em;
    text-align: center;
}
 
.tri button img{
    width: 20px;
}
.tri button{
    background-color: white;
    border: none;
}
#user-data{
    font-size: 12px;
    font-weight: bold;
    display: none;
    border: #FF6347 solid;
    border-radius: 20px;
    background-color: #FFDAB9;
    position: absolute;
    right: 70px;
    z-index: 1;
    padding: 10px;
}
#user-data span{
  padding: 0 10px;
}
.barreDeRecherche{
  border-radius: 50px;
}
.barreDeRecherche img{
    width: 20px;
    position: relative;
    top: 5px;
    right: 30px;
}
.menu{
    background-color: #FFDAB9; 
    position: absolute;
    padding: 0.5em 1em;
    border: #FF6347 solid;
    width: 15em;
    z-index: 1; 
    display: none; 
}
.menu li{
    padding: 0.5em 0;
    border-bottom: #FF6347 solid;
    list-style: none;
}
.menu li button{
    border: none;
    background-color: #FFDAB9;
}
#best-product{
    font-size: 1.5em;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
#best-product p{
  padding: 1em;
}

video{
    height: 70vh;
    width: 100%;
}

.acheter{
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #FF6347;
    color: white;
}
#best-product .change{
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: #FFA07A;
}
.image{
    width: 50%;
    margin-left: 5em;
}
.image img{
    height: 70vh;
    width: 100%;
}
.categorie{
    padding: 1em 0;
    text-align: center;
}
.categorie p{
    color: white;
    padding: 1em 0;
    background-color: #FF6347;
    font-size: 24px;
}
.produit p{
    color: #8B4513;
    background-color: #FFDAB9;
}
.categoriei{
    padding: 1em;
    text-align: right;
}
.produit{
    padding: 10px 5%;
    background-color: #FFDAB9;
    border: #FF6347 solid;
    max-width: 18em;
    width: 30%;
    text-align: center; 
    margin-left: 1em;
    border-radius: 20px;
}
.produit button{
    padding: 10px; 
    border-radius: 10px;
    border: none;
    background-color: #FFA07A;
    box-shadow: 0 0 10px 2px #8B4513;
    margin-top: 10px;
}
.produit img{
    width: 9em;
}
.produit:hover{
    transform: scale(0.9);
}
.produits{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.plus{
    padding: 10px 20px;
    border: none;
    background-color: #FF6347;
    color: white;
}
footer{
    background-color: #FF6347;
    color: white;
    text-align: center;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
@media screen and (max-width:960px) {
    .produit{
        padding: 0 0;
        width: 100em;
        margin-left: 2em;
        margin-right: 0;
        padding: 5em 4em;
        height: 33em;
    }
    .produits{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
    }
    #best-product{
        display: none;
    }
    #user-data{
        height: 10em;
        width: 20em;
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
        margin-right: 20px;
    }
    header{
        font-size: 10px;
    }
   
}
button:active{
    opacity: 0.7;
    background-color: #CD5C5C;
}
