#commander{
    padding: 10px;
    background-color: #FFB347; /* Warm orange */
    border-radius: 20px;
    border: none;
    border-width: 2px;
}
#commander:active{
   background-color: #FF6347; /* Tomato red */
   color: white;
}

.commande{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #8B4513 solid; /* SaddleBrown */
    padding: 15px ;
    background-color: #FFDAB9; /* PeachPuff */
    color: #8B4513; /* SaddleBrown */
    position: sticky;
    bottom: 0;
}
#recu ul li img{
    width: 50px;
}

#recu li{
    padding: 10px;
    list-style: none;
}
#recu li button{
   border: none;
}
#recu li button:active{
   background-color: #FF6347; /* Tomato red */
   color: white;
}
#recu ul{
    display: flex;
    flex-direction: row;
}
.fermer{
    position: relative;
    left: 95%;
    border:none;
    background-color: #FFDAB9; /* PeachPuff */
}
.fermer img{
    width: 20px;
}
#recu ul+p+ul{
    display: flex;
    flex-direction: column;
}
.confirmer{
    padding: 10px;
    background-color: #FFB347; /* Warm orange */
    border-radius: 20px;
    border: none;
    border-width: 2px;
    position: relative;
    top: 0;
    right: 0;
    transform: translate(6em);
}
#recu{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#recu div{
    background-color: #FFF5EE; /* Seashell */
    border: #8B4513 solid; /* SaddleBrown */
    border-radius: 20px;
    padding: 10px;
}

#recu table{
    border-collapse: collapse;
    margin:  20px 0;
}

#recu table tr th{
   background-color: #FFB347; /* Warm orange */
   color: #8B4513; /* SaddleBrown */
}
 
#recu table tr td{
   padding: 10px;
   letter-spacing: 1px;
 }

 #recu table tr {
    border-bottom: #8B4513 solid; /* SaddleBrown */
  }

@media screen and (min-width:1024px){
    .commande{
        margin-left: 73.4%;
    }
    #commander{
        margin-left: 5px;
    }
    #recu{
        bottom: -20vh;
    }
}
@media screen and (min-width:700px) and (max-width:1024px){
    .commande{
        margin-left: 50%;
    }
    #commander{
        margin-left: 5px;
    }
}
@media screen and (max-width:900px){
    #recu div{
        overflow: scroll;
        max-height: 30em;
    }
}
